<div class="flex flex-col items-center justify-center px-2 mt-4">
    <p class="text-center text-zinc-300">*Send <span class="font-bold text-zinc-300">{{.User.Amount}} XMR</span> or more to:</p>

    <img 
        class="py-3"
        src="data:image/png;base64,{{.User.GetAddreessQrCodeDataUrl}}" 
        alt="qr code for the monero payment"
    >
    <div class="w-10/12 max-w-sm p-2 mt-2 break-words border-2 border-zinc-600">
        <p class="mt-1 text-sm text-center text-zinc-400">{{.User.Address}}</p>
    </div>    

    <a class="pt-4 text-sm text-center underline text-zinc-500" href="/user/{{.User.PubKey}}?recheck=true">force check payment</a>
</div>